{% extends 'base.html' %}{% block content %}<form  enctype="multipart/form-data" method="POST">
<div class="field"><label for="somefielduserhasrythmehit_id">hit_id</label><input type="text" id="somefielduserhasrythmehit_id" name="hit_id"/></div>
<div class="field"><label for="somefielduserhasrythmerythme">rythme</label><input type="text" id="somefielduserhasrythmerythme" name="rythme"/></div>
<div class="field"><label for="somefielduser_id">user_id</label><select id="somefielduser_id" name="user_id"><option value="novalue">no value</option>
{% for someuser in touslesuser %}
<option value="{{ someuser['id'] }}">{{ someuser['name'] }}</option>{% endfor %}
</select></div><div class="actions"><input type="submit"/></div></form>{% for x in userhasrythmes %}{{x["hit_id"] }}{% endfor %}{% endblock %}{% block liens %}<a href="/">bienvenue</a><a href="/add_one_userhasrythme"> add one userhasrythme</a>{% endblock %}